@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
body {background-color: #222; color: #fff; font-family: 'Droid Serif', sans-serif}
h1, h2, h3 {font-family: 'Droid Serif', sans-serif}
a, a:visited {color: #498fff; text-decoration: none}
a:hover {color: #fff; text-decoration: underline}
.container {max-width: 720px}
ul {list-style-type: none; margin: 0; padding: 0}
ul li {margin-bottom: 16px;}
ul li div.date {float: left; margin-right: 4px; width: 52px;}
ul li div.date span.month {display: block; background-color: #870000; color: #eee; padding: 4px; text-align: center}
ul li div.date span.day {display: block; background-color: #eee; font-size: 1.25em; color: #333; padding: 4px; text-align: center}
ul li div.venue {font-size: 0.85em; padding-top: 8px;}
